# Text Representation

### 1. Gathering Data

In [ ]:
import pandas as pd

# Path to your CSV file
csv_file = '../../data/test_sample.csv'

# Read CSV into a DataFrame
df = pd.read_csv(csv_file)
df
df["lemmatized"]
df["sentence_subjectivity"]

### 2. BOW (Bag Of Words)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
# counts the occurrences of each word.
vectorizer = CountVectorizer()
X_bow = vectorizer.fit_transform(df["lemmatized"])
print("after applying BOW : \n")
print("(r_idx, c_idx) cnt\n",X_bow)
features = vectorizer.get_feature_names_out()
print("features :", features)

### 3. Save BOW to csv

In [3]:
bow_df = pd.DataFrame(X_bow.toarray(), columns=features)
bow_df
bow_df.to_csv('../../data/bow_features.csv', index=False)

### 4. TF_IDF

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer
#with TF-IDF, its importance is reduced because it’s too common. Instead, rare words like "awesome" or "disappointed" may get higher scores.
tfidf_vectorizer = TfidfVectorizer()

X_tfidf = tfidf_vectorizer.fit_transform(df['text'])

features_tfidf = tfidf_vectorizer.get_feature_names_out()

tfidf_df = pd.DataFrame(X_tfidf.toarray(), columns=features_tfidf)

tfidf_df.head()

,10,absolutely,again,amazing,awesome,badshop,boring,brand,broken,but,...,this,tho,totally,up,was,will,worst,worth,www,you
0,0.0,0.000000,0.000000,0.000000,0.418024,0.0,0.00000,0.000000,0.0,0.0,...,0.418024,0.00000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
1,0.0,0.000000,0.377964,0.000000,0.000000,0.0,0.00000,0.000000,0.0,0.0,...,0.000000,0.00000,0.0,0.000000,0.000000,0.377964,0.377964,0.0,0.000000,0.000000
2,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.37351,0.000000,0.0,0.0,...,0.000000,0.37351,0.0,0.000000,0.317517,0.000000,0.000000,0.0,0.000000,0.000000
3,0.0,0.418024,0.000000,0.418024,0.000000,0.0,0.00000,0.000000,0.0,0.0,...,0.000000,0.00000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.418024,0.000000
4,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,0.334845,0.0,0.0,...,0.000000,0.00000,0.0,0.393893,0.000000,0.000000,0.000000,0.0,0.000000,0.393893